<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AVAST - cursos</title>
    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">    

    
    <script src="https://unpkg.com/vue@next"></script>  


  </head>
  <body>
  <img src="https://cdn.glitch.global/ec142015-21f5-4ad3-be08-1a9568537787/avast-logo.png?v=1652606556840" width="100px">
     <h1>Asistencias alumnos AVAST 2022</h1>
    <p>Para consultar la asistencia de los alumnos, introduce el número de carnet de profesor y el DNI y pulsa "Consultar"</p>
    <div id="vue">
      
      <label>Carnet:</label> <input v-model="id" /><br/>
      <label>DNI:</label> <input v-model="dni" /><br/>
      <label>Fecha:</label> <input v-model="fecha"  /><br/>
      
      <div v-if="buscando">Buscando...</div>
      <button v-else @click="load()">Consultar</button></br>
      <div class="course" v-for="c in courses">
        <h2>{{c.nomActivitat}}</h2>
        <ul>
          <li v-for="a in c.alumnes"><span class="passaport">{{a.passaport}}</span>{{a.nomPersona}} {{a.cognoms}}</li>
        </ul>
      </div>
      <textarea v-model="log"></textarea>

         </div>
  </body>
  <script src="/prof.js"></script>
  <style>
    body {
      font-family: Arial;
      margin: 2rem;
    }
    .passaport {
      display: inline-block;
      width: 100px;
      
    }
    textarea {
      display: none;
    }
    label {
      display: inline-block;
      width:80px;
    }
  </style>

</html>