<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AVAST - cursos</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">    
    
    <script src="https://unpkg.com/vue@next"></script>  
<meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>
  <body>
    <center>
       <img src="https://cdn.glitch.global/ec142015-21f5-4ad3-be08-1a9568537787/avast-logo.png?v=1652606556840" width="100px">
       <h1>Asistencia alumnos 2022</h1>

    </center>
    <p>Para consultar la asistencia de los alumnos, introduce tu número de carnet de profesor, DNI y la fecha de la sesión de AVAST </p>
    <p>Sin fecha no podrás indicar la asistencia de los alumnos</p>
    <div id="vue">
      
      <label>Carnet:</label> <input v-model="id" placeholder="ej. T1000"/><br/>
      <label>DNI:</label> <input v-model="dni" placeholder="ej. 00000000X" /><br/>
      <label>Fecha:</label> <input v-model="fecha" placeholder="ej. 1-5-2022" /><br/>
      <br/>
      <!--<button @click="debug">debug</button>-->
      <div v-if="buscando">Buscando...</div>
      <button v-else @click="load()">Consultar</button></br>
      <div v-if="fechas.length">
          <p>Fechas con asistencias guardadas:</p>

        <ul class="fechas" v-for="f in fechas">
            <li><a href="#" @click="setFecha(f.fecha)">{{f.fecha}}</a></li>
        </ul>
      </div>

      <div class="course" v-for="c in courses">
        <h2>{{c.nomActivitat}}</h2>
        <ul>
          <li v-for="a in c.alumnes"><input type="checkbox" :disabled="!fecha" v-model="a.asiste" @change="asiste($event, c, a)" value="a.asiste"><span class="passaport">{{a.idAlumne}}</span>{{a.nomPersona}} {{a.cognoms}}</li>
        </ul>
      </div>
      <textarea v-model="log"></textarea>

         </div>
  </body>
  <script src="/prof.js"></script>
  <style>
    body {
      font-family: Arial;
      margin: 2rem;
    }
    
    input {
      margin-bottom: 8px;
    }
    .passaport {
      display: inline-block;
      width: 100px;
      
    }
    textarea {
      display: none;
    }
    label {
      display: inline-block;
      width:80px;
    }
  </style>

</html>